/*** Retina ***/

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2) {
	.open-responsive-nav span,
	.single-pagination li a,
	#entries-pagination li a,
	.close-project a,
	.easy-opener-close,
	.easy-opener-next,
	.easy-opener-prev,
	.flex-direction-nav a,
	.tp-leftarrow.default, .tp-rightarrow.default
	{
		background-image: url(../images/retina/sprites@2x.png);
		-webkit-background-size: 480px 40px; 
	   	-moz-background-size: 480px 40px; 
	    -o-background-size: 480px 40px; 
		background-size: 480px 40px; 
	}
}


/*

         _
     .__(.)< ("Quack. Don't mind me, I'm just a duck swimming on the source code")
      \___)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

*/